body {
    background-image: url("images/ezgif.com-gif-maker.jpg");
}

#title {
    width: 100vw;
    height: 25vh;
}

h1 {
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: auto;

}

h2 {
    text-align: center;
    font-size: auto;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    
}

#buttons {
    width: 100vw;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-buttons {
    width: 300px;
    height: 300px;
    object-fit: contain;
    background: transparent;
}

.img-buttons:hover {
    transform: scale(1.2);
}

.img-buttons:active {
    box-shadow: 0.1px 0px 0px 1px rgb(61, 61, 61);
}

button {
    background: transparent;
    border: none;
}